<h1>
  Projects

  <%= link_to new_project_path, class: "btn btn-primary" do %>
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    New Project
  <% end %>

  <% if @completed %>
    <%= link_to "Incompleted Projects", projects_path(completed: 0), class: "btn btn-default" %>
  <% else %>
    <%= link_to "Completed Projects", projects_path(completed: 1), class: "btn btn-default" %>
  <% end %>
</h1>


<% @projects.each do |project| %>
  <h2><%= link_to project.name, project %></h2>
  <p>
    <%= project.description %>
  </p>
<% end %>
